<html lang="es">
<!-- Head -->
  <%- include('../partials/head.ejs',{style:"productsDetail"}) %>>
  <body>
    <!--Cabezera-->
    <%- include('../partials/header') %>
<main>
    <div>
      <main>
      <img src="/images/products/<%= prodFound.image %>" alt="<%= prodFound.name %>"/>
        <h2><%= prodFound.title %></h2>
        <p><%= prodFound.decorated %></p>
        <p><%= prodFound.colorDecorated %></p>
        <p><%= prodFound.price %></p>

        <% if (locals.isAdmin) { %>
        <form action="/productos/delete/<%= prodFound.id %>?_method=DELETE" method="post">
      
        <button class="btn btn__delete" href="">Eliminar</button>
        </form>
        <a class="btn btn__update" href="/products/edit/<%= prodFound.id %>"
          >Editar producto</a
        >
        </form>
      </main>
      <% } else { %>
        <main>
      </main>
      <% }  %>
    </div>
